@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:18px/2.0 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

p, ul, ol, dl, h1, h2, h3, h4, h5, h6 {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

img {
  max-width:100%;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

#copy {
    width:500px;
    float:left;
    padding-bottom:50px;
}

#download {
  width:270px;
  float:right;
}

#download ul {
  list-style:none;
  padding:0;
  height:50px;
  width:270px;
  
  background: #eee;
  border-radius:5px;
  border:1px solid #d2d2d2;
}

#download li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:50px;
}

#download ul a {
  line-height:1;
  font-size:16px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

#download ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

#download ul li + li + li {
  border-right:none;
  width:89px;
}

#download ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

footer {
  width:3007px;
  float:left;
  position:fixed;
  bottom:50px;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }

  #download, #copy, footer {
    float:none;
    position:static;
    width:auto;
  }

  #copy {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  #download {
    padding-right:320px;
  }

  #download a small {
    display:inline;
  }

  #download ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  #download {
    padding:0;
  }

  #download ul, #download p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  #download ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
